
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.btn-block {
    margin-top: 15px;
}

.dropdown:hover > .dropdown-menu {
    display: block;
}

.nav  li  a.avatar {
    position: relative;
    padding-left: 35px;
    img {
       height: 32px;
       width: 32px;
       position: absolute;
       border-radius: 50px;
       left: 0px;
       top: 50%;
       transform: translateY(-50%);
       margin-right: 15px;
   }
}
